.about{
    height: 100vh;
    background-color: var(--primary-color);
     padding-top: 2vw;

     .about-header{
        padding: 3vw 12vw 3vw 12vw;
        border-radius: 8px;
        text-align: center;
        h1{
            color: var(--secondary-color);
            text-indent: 0;
            font-size: 2.5rem;
            text-align: center;
            font-family: 'dm serif text', serif;

            span{
                color: #18153286;
            }
           
        }
         
     }p{
        color: var(--secondary-color);
        font-size: 1.5rem;
        font-family: 'inter', sans-serif;
        text-align: center;
        padding: 2vw 13vw 2vw 15vw;

    }
    
    .resume-div{
        display: flex;
        justify-content: center;
        padding: 2vw 0 2vw 0;
    
        .resume-button{
            display: flex;
            justify-content: center;
            border: 2px solid var(--secondary-color);
            border-radius: 8px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            overflow: hidden;
            svg{
                padding-top: 1vw;
                padding-left: 1vw;
            }
            a{
                text-decoration: none;
               color: var(--secondary-color); 
                font-size: 1.5rem;
                font-family: 'inter', sans-serif;
                font-weight: 600;
                padding: 1vw 2vw 1vw 2vw;
                transition: all 0.3s ease-in-out;
           &:hover{
                    background-color: var(--secondary-color);
                    color: var(--primary-color);
                    transition: all 0.3s ease-in-out;
                }  
            }
        }
    
      
    }

}

